body {
    background-color: #B4D3B2;
    background-image: url("/images/path.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

p, a, #introText {
    color: #ffea00;
}
a:hover {
    color: #B4D3B2;
    background-color: #26532B;
}

.convo {
    text-align: center;
    font-size: medium;
}
.sorry {
    position: absolute;
    left: 20%;
    bottom: 30%;
}
.picnic {
    position: absolute;
    right: 10%;
    bottom: 40%;
}
.bear {
    position: absolute;
    left: 36%;
    bottom: 36%;
}
#continue {
    font-size: larger;
    position: absolute;
    left: 53%;
    bottom: 25%;
}
